.contenue {
  width: 100%;
  max-width: 1023px;
  margin: 0 auto;
  padding: 0 0 60px;

  @media (max-width: 768px) {
    padding: 0 0 30px;
    max-width: 100%;
  }

  .accordeon {
    width: 100%;

    .accordeon-item {
      border-radius: 5px;
      margin-bottom: 30px;

      @media (max-width: 768px) {
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .accordeon-entete,
      .accordeon-contenu {
        width: 100%;
        box-sizing: border-box;
      }

      .accordeon-entete {
        padding: 10px 15px;
        background-color: #FF6060;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        cursor: pointer;
        font-size: 22px;
        font-weight: bold;
        border-radius: 5px;

        @media (max-width: 768px) {
          padding: 10px 15px;
          font-size: 13px;
          border-radius: 5px;
        }
      }

      .accordeon-icone {
        display: flex;
        transition: transform 0.3s ease;
        transform: rotate(0deg);
        width: 32px;
        height: 32px;

        @media (max-width: 768px) {
          width: 20px;
          height: 20px;
        }
      }

      .accordeon-contenu {
        background-color: #f6f6f666;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
        border-radius: 0 0 10px 10px;
        font-size: 16px;
        line-height: 1.4;
        font-weight: 400;
        opacity: 0;
        visibility: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;

        @media (max-width: 768px) {
          border-radius: 0 0 5px 5px;
          font-size: 12px;
          line-height: 1.7;
        }

        p {
          margin: 0;
          word-wrap: break-word;
          overflow-wrap: break-word;
        }
      }

      &.est-ouvert {
        .accordeon-icone {
          transform: rotate(180deg);
        }

        .accordeon-contenu {
          max-height: 500px;
          padding: 15px 20px 19px 20px;
          opacity: 1;
          visibility: visible;

          @media (max-width: 768px) {
            padding: 20px 12px;
          }
        }
      }
    }
  }
}
