
.ImgPresentationDetail {
  position: relative;
  height: 400px;
  margin: 0 100px;
  border-radius: 25px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
  }

  .BackgroundImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}