.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 45px 0 63px;
  width: 100%;

  @media (max-width: 768px) {
    padding: 20px 0 27px;
  }

  &__logo {
    height: 68px;
    width: auto;

    @media (max-width: 768px) {
      height: 47px;
    }
  }

  &__nav {
    display: flex;
    gap: 57px;
    align-items: center;

    @media (max-width: 768px) {
      gap: 26px;
    }
  }

  &__nav-link {
    text-decoration: none;
    font-size: 24px;
    font-weight: 500;
    transition: text-decoration 0.3s ease;

    @media (max-width: 768px) {
      font-size: 12px;
      text-transform: uppercase;
    }

    &:hover {
      text-decoration: underline;
    }

    &.active {
      text-decoration: underline;
    }
  }
}
